<div id="popupLogin" class="popup-login">
    <div class="closeButton"><a id="closeButton">X</a></div>
    <div class="popup-login-title">Connexion Administrateur</div>
    <div class="popup-login-form">
      <form method="POST" action="/login">
        <div>
          <input for="email" placeholder="Email" type="email" id="email" name="email" required>
        </div>
        <div>
          <input for="password" placeholder="Password" type="password" id="password" name="password" required>
        </div>
    </div>
    <div class="popup-login-submit">
      <button class="admin-login-button" type="submit">Se connecter</button>
      </form>
    </div>
  </div>