<%- include('./partials/header') %>
<div class="container-main-div-login">
<div id="popupLogin" class="main-div-login">
    <div class="login-title">Connexion Administrateur</div>
    <div class="login-form">
        <fieldset>
      <form class="loginpage-form" method="POST" action="/loged">
        <div class="login-form-email">
            <label class="login-form-email-label" for="email">Email</label>
          <input class="login-form-email-input" for="email" placeholder="Email" type="email" id="email" name="email" required>
        </div>
        <div class="login-form-password">
            <label class="login-form-password-label" for="Password">Mot de passe</label>
          <input class="login-form-password-input" for="password" placeholder="Password" type="password" id="password" name="password" required>
        </div>
    </div>
    <div class="login-submit">
      <button class="admin-login-button" type="submit">Se connecter</button>
    </div>
     </form>
     </fieldset>
  </div>
</div>