<%- include('./partials/header') %>

<div class="main-div">
    <div class="next-competition">
      <div class="next-competition-div">
        <h2 class="next-competition-title">Prochaine Compétition</h2>
        <span class="next-competition-date">le 17/02/2023</span>
        <span class="next-competition-hour">à 20h</span>
      </div>
    </div>
    <div class="main-div-image">
      <img src="./img/test.jpg" alt="test" />
    </div>
  </div>

<%- include('./partials/footer') %>